/*DEFAULT*/
:root{
  --white: #fdfffc;
  --black: #000000;
  --red: #8d0801;
  --red-menu: #3C0000;
  --grey: #313131;
}
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
html{
  font-size: 62.5%;
  font-family: sans-serif;
  background-color: var(--black);
  overflow-x: hidden;
}
body{
    overflow-x: hidden;
}
.container--tittle,
.container--about,
.container--work{
  position: relative;
  width: 100vw;
  height: 100vh;
  padding: 0 15px 0 15px;
}

/*header*/
header{
  width: 100vw;
  height: auto;
  background-color: var(--black);
  display: flex;
  justify-content:space-between;
  position: fixed;
  z-index: 1;
}
.header--list{
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 25px;
  transition: all 0.6s ease;
  position: relative;
  top: 55px;
  background-color: var(--black);
  width: 100vw;
}
.one{
  clip-path: inset(0 0 100% 0);
}
.two{
  clip-path: inset(0 0 0% 0);
}
.header--list li a{
  font-weight: bold;
  font-size: 1.8rem;
  text-decoration: none;
  color:var(--white);
}
/*Animacion de linea bottom header*/
.header--list li a::before {
  transform: scaleX(0);
  transform-origin: bottom right;
}
.header--list li a:hover::before {
  transform: scaleX(1);
  transform-origin: bottom left;
}
.header--list li a::before {
  content: " ";
  display: block;
  top: 0; right: 0; bottom: 0; left: 0;
  inset: 0 0 0 0;
  background: red;
  z-index: 2;
  transition: transform .3s ease;
  border-radius: 20px;
  height: 2px;
  position: relative;
  top: 21px;
}
.header--list li a {
  position: relative;
}
.iconMenu{
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--red);
  background-color: transparent;
  height: 55px;
  padding: 0 8px;
  z-index: 3;
  cursor: pointer;
}
.iconMenu span{
  font-size: 30px;
}

/*MAIN*/
.container--tittle{
  padding-top: 170px
}
.tittle{
color: var(--white);
font-size: 9.6rem;
}
.second-tittle{
color: var(--red);
font-size: 6.4rem;
}
.second-tittle{
  width: 100%;
  animation: typing 2s steps(22), blink .5s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
}
@keyframes typing {
  from {
    width: 0
  }
}
@keyframes blink {
  50% {
    border-color: transparent
  }
}
.container--me{
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-image: url('./asets/me.jpeg');
  background-size: 100vw;
  background-repeat: no-repeat;
  background-position: 100px 220px;
  z-index: -1;
}
/*Section About*/
.container--about{
  padding-top: 145px;
}
.about_text{
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 0 15px 0 15px;
}
.about_tittle,
.text{
color: var(--white);
}
.about_tittle{
  font-size: 4.6rem;
  margin-bottom: 20px;
}
.text{
  font-size: 2.5rem;
}

/*Section work*/
.container--work{
  padding-top: 80px;
}
.work_tittle{
  color: var(--white);
  font-size: 4.6rem;
  margin-bottom: 15px;
}
.container--work article{
  padding: 0 15px 0 15px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.work--article_tittle{
  color: var(--red);
  font-size: 4.4rem;
}
.work--article-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}
.work--article_img{
  width: 80vw;
  height: auto;
  border-radius:12px;
}
.work--article_img a{
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border:3px solid rgba(0,0,0,.2);
  box-shadow:0px 0px 12px 4px rgba(255,255,255,.1);  overflow:hidden;
  border-radius:12px;
}
.work--article_img a::before{
  position:absolute;
  content:'';
  bottom: 100px;
  width:150%;
  height:20%;
  background:linear-gradient(rgb(71, 16, 6), rgb(227, 20, 20));
  box-shadow:
    0px 0px 8px 4px rgb(71, 16, 6),
    0px 0px 100px 4px rgb(227, 20, 20);
  animation:animate 2.5s linear infinite;
}
@keyframes animate{
  0%{
  }
  100%{
    transform:rotate(360deg);
  }
}
.work--article_img img{
  padding: 3px;
  width: 100%;
  height: 100%;
  z-index: 2;
  border-radius:12px;
}

.work--article_text{
  color: var(--white);
  font-size: 1.8rem;
}
.work--article-buttons{
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}
.work--article-buttons span{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--red-menu);
  width: 28%;
  padding: 8px 0 8px 0;
  border-radius: 25px;
}
.work--article-buttons span a{
  text-decoration: none;
  font-size: 1.5rem;
  color: var(--white);
}